<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>

	<div class="table-responsive" th:fragment="accountTable">
		<table id="myTable" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>User Id</th>
					<th>Name</th>
					<th>Time</th>
					<th>Status</th>
					<th>Is Public</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="acc : ${Accounts}">
					<td data-th-text="${acc.id}">1</td>
					<td data-th-text="${acc.name}">John</td>
					<td data-th-text="${acc.time}">12-12-2014</td>
					<td data-th-text="${acc.status}">Dang su dung</td>
					<td data-th-text="${acc.isPublic}">false</td>

					<td><a href="#"
						th:href="@{/edit(id=${acc.id},record=${numOfPage},maxRows=${maxRow})}">Edit
					</a></td>
					<td>
						<button
							th:onclick="'javascript:doAjaxPostDelete(\'' + ${acc.id} + '\');'"
							class="btn btn-default">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>